// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cards-container {
  background-color: rgb(240, 240, 240);
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 5px;
  width: 30%;
  align-self: center;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

.card {
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 10px;
  height: 130px;
  // padding: 1px;
  flex-direction: column;
  justify-content: space-between;

  a {
    display: flex;
    text-decoration: none;
    color: black;
  }

  .card-title {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 0;
  }

  .task-controls {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0 5px;
    border-radius: 0 0 10px 10px;
    a {
      color: white;
    }
  }

  p {
    height: 50px;
    overflow: hidden;
    margin: 0 0;
    padding: 5px;
  }
}
